$whiteColor: #FFFFFF;
$white: #fff;
$detaColor: #999999;
$light_gray: #999;
$blueColor: #38AEF0;
$light_blue: #38AEF0;
$messageColor: #434A54;
$black: #434a54;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$alert_orange: #F35500;