*{
  box-sizing: border-box;
}
.chat-main{
  position: relative;
  float: right;
  width: calc(100vw - 300px);
}

.main-header{
  position: relative;
  height: 100px;
  padding: 0 40px;
  border-bottom: solid 1px #eeeeee;
  &__left-box{
    float: left;
    &__current-group{
      font-size: 20px;
      color: #333333;
      padding-top: 35px;
    }
    &__member-list{
      float: left;
      font-size: 12px;
      color: $detaColor;
      padding-top: 15px;
      &__member{
        float: right;
      }
    }
  }
  &__edit-btn{
    float: right;
    position: absolute;
    color: $blueColor;
    right: 40px;
    height: 40px;
    line-height: 40px;
    border: solid 1px $blueColor;
    margin-top: 28px;
    padding: 0 20px;
  }
}

.messages{
  height: calc(100vh - 190px);
  background-color: #fafafa;
  padding: 46px 40px 0 40px;
}

.message{
  &__upper-info{
      display: flex;
      padding-bottom: 10px;
    &__talker{
      font-size: 16px;
      font-weight: bold;
      color: $messageColor;
    }
    &__date{
      font-size: 12px;
      color: $detaColor;
      padding-left: 10px;
    }
  }
  &__text{
    font-size: 14px;
    color: $messageColor;
  }
  &__image{
    padding-bottom: 40px;
  }
}

.form{
  height: 90px;
  bottom: 0;
  padding: 0 40px;
  position: relative;
}

.new_message{
  display: flex;
  position: absolute;
	top: 0;
	bottom: 0;
  margin: auto;
  width: calc(100% - 80px);
  height: 50px;
}

.input-box{
  position: relative;
  background-color: $whiteColor;
  width: calc(100% - 115px);
  &__text{
    padding: 0 40px 0 10px; 
    font-size: 16px;
    line-height: 50px;
    width: 100%;
  }
  &__image{
    position: absolute;
    font-size: 1.3rem;
    top: 10px;
    right: 10px;
    &__file{
      display: none;
    }
  }
}

.fa-image{
  color: #000;
}

.submit-btn{
  position: absolute;
  right: 0px;
  line-height: 50px;
  width: 100px;
  background-color: $blueColor;
  color: $whiteColor;
  text-align: center;
}